@font-face {
  font-family: "Mabry Pro";
  src: url("../fonts/MabryPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("../fonts/MabryPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Mabry Pro";
  src: url("../fonts/MabryPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
